/* element styles */
body {
    padding: 20px;
    margin: 0px;
    font-family: Inter;
    font-weight: 900;
    --transitionTime: 0.3s;
    background-color: #36393E;
}

h1 {
    color: white;
    font-size: 3vw;
}

h3 {
    color: white;
    font-size: 2vw;
}

a{
    text-decoration: none;
    transition: var(--transitionTime);
    color: white;
}

a:hover{
    text-decoration: none;
    transition: var(--transitionTime);
    color: #f5f5f5;
}

/* nav styles */

.navWrapper {
    display: flex;
    padding: 30px;
    font-size: 1.5vw;
}

.left-side {
    display: flex;
}

.navWrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.98em;
    text-transform: uppercase;
}

.navLinkWrapper {
    height: 22px;
}

/* contact.html */

.contact-form {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    width: fit-content;
    height: auto;
    padding: 20px;
    padding-left: 250px;
    padding-top: 10px;
}

.contact-form > label {
    color: white;
}

#contactText {
    padding-left: 50px;
}

#contact-message, #contact-email, #contact-name {
    background: #41454d;
    border: none;
}

#submit-button {
    background: #e3e5e8;
    border: none;
}